.app-wrapper{
    margin: 0 auto;
display: grid;
width: 1200px;
    grid-template-areas:
            "h h"
            "n c";
grid-template-rows: 50px 1fr;
grid-template-columns: 3fr 10fr;
 }
.header{
    grid-area: h;
    background-color: darkred;
}
.header img{
    width: 40px;
}
.nav{
    grid-area: n;
    background-color: rosybrown;
}

.content{
    grid-area: c;
    background-color:#b3d4fc;
}